<p style="text-align: center;">welcome hassoun</p>

<p> welcome : {{name}}
  <p>  location : {{location}} </p>

  status: {{getStatus()}}
  <button type="button" class="btn btn-danger" (click)="getMessage()">save</button>

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>

    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

  </div>


  <button type="button" class="btn btn-primary" (click)="goToregister()">clic to register</button>
